{% extends "base.html"%}

    {% block content %}


    <div class="global-container">
        <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Register in to Django</h3>
            <div class="card-text">
                {% if messages %}
                
                        {% for message in messages %}
                        <div class="alert alert-info">
                            {{ message }}
                        </div>
                        {% endfor %}
                  
                    {% endif %}
                <!--

                <div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
                <form method="post">
                    {%  csrf_token %}
                    

                    <!-- to error: add class "has-danger" -->
                    <div class="form-group">
                        <label for="exampleInputEmail1">Username</label>
                        <input type="text" name="username" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" name="email" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" name="password" class="form-control form-control-sm" id="exampleInputPassword1">
                    </div>
                    <a href="#" style="float:right;font-size:12px;">Forgot password?</a>

                    <button type="submit" class="btn btn-primary btn-block mt-2">Sign in</button>
                    
                    <div class="sign-up mt-2">
                        Already have an account? <a href="{% url 'login_attempt'%}">Create One</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    

    {% endblock %}