{% extends "base.html"%}

    {% block content %}


    
    <div class="global-container">
        <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Hurray your mail is verified </h3>
            <div class="card-text text-center">
                Please login
            </div>
            <div class="text-center">
            <a class="btn btn-primary" href="{% url 'login_attempt' %}" >Login</a>
</div>
        </div>
    </div>
    </div>


    {% endblock %}